/*
 * contextual links display fix
 */
 
#block-front .contextual a {
	color:black;
}
.contextual ul.contextual-links.uk-subnav.uk-subnav-pill  {
	padding:5px;
	border-color:#eee;
}
.contextual button.trigger:hover + .contextual-links.uk-subnav.uk-subnav-pill {
	display:block;
}
.contextual ul.contextual-links:hover {
	display:block;
}
.contextual-links.uk-subnav.uk-subnav-pill {
    display: none;
}
.contextual ul.contextual-links.uk-subnav.uk-subnav-pill li.itemlink {
	float:none;
	display:block;
	text-align: right;
}

/*
 * add color to em on notify component for showing default drupal status messages
 */
.uk-notify a, .uk-notify em {
	color:#91caf9;
}